<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
      <!--<add key="DatabaseType" value="Sqlite"/>
      <add key="ConnectionString" value="DataSource=./datas/data.sqlite"/>-->
    <add key="DatabaseType" value="mssql"/>
    <add key="ConnectionString" value="Server=.; Database=SendMultipleEmails; Trusted_Connection=True;"/>
  </appSettings>
</configuration>